* {
    font-family: monospace;
    font-size: 15px
}

table {
    border-collapse: collapse;
    margin: 10px 5px 0
}

body>div {
    width: 320px;
    border: 2px solid #000
}

.col1 {
    width: 25px
}

.col2,.col3,.col4 {
    width: 95px
}

header {
    display: flex;
    color: #fff;
    font-weight: 700;
    background-color: #000;
    height: 28px;
    align-items: center
}

header>i {
    border: 0 solid #fff;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    text-align: center;
    background-color: #fff;
    display: inline-block;
    margin-right: 5px;
    color: #000;
    font-style: normal
}

header>span {
    flex: 1;
    text-align: center
}

tr {
    height: 27px
}

td {
    padding-left: 5px;
    padding-right: 5px
}

tr:nth-child(odd)>td:nth-child(4) {
    font-weight: 700;
    text-align: center
}

tr:last-child>td:nth-child(2) {
    font-weight: 700;
    text-align: center
}

button {
    width: 50px;
    margin-left: 5px;
    border-radius: 8px
}

tr:not(:last-child)>td:not(:nth-child(4)) {
    border: 1px dashed #000
}

footer {
    margin-bottom: 5px
}
